@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #594236 #6F584B;
}

body {
    background-color: #2B5917;
    font-family: "Handjet", sans-serif;
    letter-spacing: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #594236 #6F584B;
}

.forest-sidebar {
    background-color: #594236;
    position: fixed;
    height: 100%;
    width: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.config {
    background-color: #6F584B;
    width: 50px;
    height: 50px;
}

.statbars {
    background-color: #6F584B;
    border-radius: 15px;
}

.progress {
    height: 25px;
    border-radius: 0 5px 5px 0;
}

.progress-icon{
    border-radius: 5px 0 0 5px;
}

.text-logs {
    background-color: #6F584B;
    width: 100%;
    height: 200px;
    overflow-y: auto;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #594236 #6F584B;
}

.story-log.old-logs {
    color: #999999;
    font-size: 1.3h;
}

.inventory {
    background-color: #6F584B;
}

.inventory-item {
    background-color: #594236;
    width: 10vh;
    height: 10vh;
}

.inventory-item:hover {
    border: 2px solid black;
}

.card-question {
    width: 55vh;
    height: auto;
    background-color: #327117;
    transform: translateX(30vh);
    margin-bottom: 8vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.warning {
    border: 3px solid #A1142D;
    color: #A1142D;
    font-size: 36px;
    font-weight: bold;
    font-family: sans-serif;
}


.button {
    background-color: #2B5917;
    font-family: "Handjet", sans-serif;
    color: white;
    letter-spacing: 2px;
    padding: 10px 20px;
    border: 2px solid #327117;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #408C27;
}

.button.disabled {
    background-color: #6F584B;
    border-color: #6F584B;
    cursor: not-allowed;
}

.button.pressed {
    background-color: #408C27;
    color: #ffffff;
    cursor: not-allowed;
}

.modal-content {
    background-color: #594236;
    color: white;
}

.btn-close {
    background-color: #6F584B;
}

.fightCard{
    transform: translateX(23vh);
}

.fightScene{
    background-color: #594236;
    width: 60vh;
    margin-top: 10px;
}

.monster-lvl{
    background-color: #6F584B;
}

.card-option{
    background-color: #594236;
    width: 60vh;
}

.btn-attack{
    background-color: #6F584B;
    color: white;
    border: 2px solid #A1142D;
    border-radius: 25px;
}

.btn-block{
    background-color: #6F584B;
    color: white;
    border: 2px solid #38C75F;
    border-radius: 25px;
}

.btn-block{
    background-color: #6F584B;
    color: white;
    border: 2px solid #0077B0;
    border-radius: 25px;
}

.btn-flee{
    background-color: #6F584B;
    color: white;
    border: 2px solid #38C75F;
    border-radius: 25px;
}

.btn-wait{
    background-color: #6F584B;
    color: white;
    border: 2px solid #FFD100;
    border-radius: 25px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #6F584B;
    box-shadow: 3px 3px;
  }

  #btn-back-to-top:hover{
    background-color: #594236;
  }

.shadow-box{
    box-shadow: 3px 3px;
}

@media only screen and (max-width: 1500px) {
    .forest-sidebar {
        background-color: #594236;
        position: fixed;
        height: 100%;
        width: 55vh;
    }

    .text-logs {
        background-color: #6F584B;
        width: 100%;
        height: 100px;
    }
}
